body, html {
  font-size: 60%;
}

header {
  font: bold 2rem arial;
  text-align: center;
}

header img {
  width: 5rem;
  padding: 2rem;
}

h1 {
  font: lighter 3rem arial;
  letter-spacing: .2rem;
  border: solid;
  width: 15%;
  margin: 0 auto;
  position: relative;
}

p.std-paragraph {
  text-align: justify;
  color: #808080;
}

.pt {
  text-align: center;
  font: 1.3rem arial;
}

.pt img {
  clear: left;
  float: right;
  padding: 3rem;
}

fieldset {
  border: none;
}

nav {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li > a {
  color: blue;
  font: bold 1.3rem arial;
  padding: 2rem;
}

nav ul li > a:hover {
  color: red;
}

footer {
  font: .5rem arial;
  display: block;
  text-align: center;
}

footer > a {
  color: blue;
}

footer > a:hover {
  color: red;
}
